<div class="border">
<input type="radio" name="gender" value="male" (change)="getRadioButtonValue('male')" > Male({{male}})
<input type="radio" name="gender" value="female" (change)="getRadioButtonValue('female')"> Female({{female}})
<input type="radio" name="gender" value="all" (change)="getRadioButtonValue('all')"  checked> All({{all}})
</div>


<!-- <div class="border"> -->
<!-- <input type="radio" name="gender" value="male" [(ngModel)]="selectedRadioButtonValue" (change)="getRadioButtonValue()" > Male({{male}}) -->
<!-- <input type="radio" name="gender" value="female" [(ngModel)]="selectedRadioButtonValue" (change)="getRadioButtonValue()"> Female({{female}}) -->
<!-- <input type="radio" name="gender" value="all" [(ngModel)]="selectedRadioButtonValue" (change)="getRadioButtonValue()" checked> All({{all}}) -->
<!-- </div> -->
